
######################### <br>
<h1>Comments!!!</h1>
<div style = "border: 1px solid red; margin-bottom :10px">
        Author: <%= comment.username %> <br>
        Content: <%= comment.content %> <br>
        Time: <%= comment.created_at%>

</div>
