<p id="notice"><%= notice %></p>

<h1>Listing Pointlesses</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pointlesses.each do |pointless| %>
      <tr>
        <td><%= link_to pointless.title, pointless %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to '글쓰기', new_pointless_path %>
<% end %>

<%= link_to 'Home', root_path %>
