
<table class="type06">
    <tr>
        <th scope="row"><b>이름:<%= fcomment.commenter %></b></th>
        <td>댓글:<%= fcomment.body %></td>
        <td class = "td-small">
          <div class="comment">
            <% if current_user %>
            <% if fcomment.user_id == current_user.id  || current_user.tier < 4 %>
            <%= link_to '[삭제]', [fcomment.forest, fcomment],
                method: :delete,
                data: {
                  confirm: 'Are you Sure?'
                }, class:"if-link" %>

            <% end %>
            <% end %>
        </div>
      </td>
    </tr>
</table>
<br>
