<head>
  <%= stylesheet_link_tag "login.css" %>
</head>
<body>
  <div class="down">
        <div id="content">
          <div class="back">
            <%= image_tag("ocean.jpg") %>
          </div>
        </div>
    </div>
    <div class="logo">
      <%= image_tag("logo.png", height: 70, width: 250) %>
    </div>
    <div class="border-form-div">
          <h2 style="text-align:center">안녕하세요 브루이웃님</h2>
          <br>

            <!-- <%= render "devise/shared/links" %> -->
            <br>
    </div>
</body>
