<%=render 'layouts/blackbar'%>

<div class="new">

  <h1>이벤트 추가</h1>

  <%= render 'form' %>

  <div class="butns">
    <div class="colu three">
        <a href="<%= pointlesses_path%>" class="butn butn-grey">뒤로가기</a>
    </div>
  </div>

</div>
