<script src="https://use.fontawesome.com/8a1c7ad851.js"></script>

<table class="type05">
  <tr>
    <th scope="row"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;<b><%= pcomment.commenter %></th>
    <td><%= pcomment.body %></td>
    <td>
      <div class="comment">
        <% if current_user %>
          <% if pcomment.user_id == current_user.id %>

          <%= link_to '[댓글삭제]', [pcomment.pointless, pcomment],
            :confirm => 'Are you Sure?',
            :method => :delete %>
        <% end %>
        <% end %>
      </div>
    </td>
  </tr>
</table>
<br>
