<p>
  <b>Commenter:</b>
  <%= pcomment.commenter %>
</p>

<p>
  <b>Comment:</b>
  <%= pcomment.body %>
</p>
<p>
<% if user_signed_in? %>
  <% if pcomment.user_id == current_user.id %>

  <%= link_to 'Destroy Comment', [pcomment.pointless, pcomment],
    :confirm => 'Are you Sure?',
    :method => :delete %>
<% end %>
<% end %>
