
######################### <br>
<h1>Posts!!!</h1>
<div style = "border: 3px solid; margin-bottom :10px">
        Author: <%= post.username %> <br>
        Title: <%= post.title %> <br>
        Content: <%= post.content %> <br>
        Time: <%= post.created_at%>

</div>
