// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slideshow-container {
  /*max-width: 1000px;*/
  /*vertical-align: middle;
  position: relative;
  margin: auto;
  justify-content: center;*/
  /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset;*/
  /*top: 50%;*/
}

.mySlides {
    /*max-width: 1000px;*/
    /*display: inline-block;*/
    text-align: center;
    width:60%;
}

.img_posters {
  width: 400px;
  height: 400px;
}

.firstpic {
  display: block;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: static;
  /*display:inline-block;*/
  top: 50%;
  /*transform: translate(0,-50%);*/
  width: auto;
  height: 4%;
  /*margin-top: -22px;*/
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  margin-top: 13%;
}

.prev {
  left: 15%;
  border-radius: 3px 0 0 3px;
}
/* Position the "next button" to the right */
.next {
  right: 15%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(29,117,217,0.8);
  color: white;
}

/* Caption text */
.text {
  color: #db0707;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: 'eurof35';

}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation: fade 1.5s forwards;
  animation: fade 1.5s forwards;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.events_board{
  /*border: 4px solid rgba(255,86,115,0.30);
  border-radius: 5px;*/
  width: auto;
  display: block;
  text-align: center;
  justify-content: center;
  position: relative;
  /*left:25%;*/
}
.upcoming {
  color: #22313F ;
  text-shadow: -0.05em 0 0 #F22613,  0.05em 0 0 #00FFFF;
  /*-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #90CAFF;*/
  /*font-family: AppleGothic;*/
  font-size: 50px;
  letter-spacing: 70px;
  margin-right: -70px;
}
.events_contents{
  justify-content: center;
  font-size: 20px;
  /*display: block;*/
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.events_divs{
  width: 30%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset;
  margin: 1%;
  border-top: 5px solid rgba(232,30,102,0.90);;

}
