/*shared links buttons*/
.links_login{
  background:rgba(255,255,255,0.7);
  color:#1d75d9;
  border-radius: 0.5px;
  position:relative;
  height:30px;
  font-size:1.0em;
  padding:0 1.0em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  padding: 5px 10px;
  margin-top: 10px;
  margin-left: 10px;
}
.links_login:hover{
  background:rgba(255,255,255,0.3);
  color:#1d75d9;
  text-decoration: none;
}
.links_login:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background:#fff;
  transition:400ms ease all;
}
.links_login:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.links_login:hover:before,.links_login:hover:after{
  width:100%;
  transition:800ms ease all;
}
/*log in button*/
.loginbutton{
  background:#1d75d9;
  color:#fff;
  border:none;
  position:relative;
  height:30px;
  width: 100%;
  margin-left: 13%;
  font-size:1.0em;
  padding:0 1em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.loginbutton:hover{
  background:rgba(255,255,255,0.4);
  color:#1d75d9;
}
.loginbutton:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1d75d9;
  transition:400ms ease all;
}
.loginbutton:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.loginbutton:hover:before,.loginbutton:hover:after{
  width:100%;
  transition:800ms ease all;
}

.slightleft{
  margin-right: 28px;
}

.border-form-div-1{
  max-width: 300px;
  width: 100%;
  padding: 19px 29px 29px;
  margin: 100px 185px 40px 150px;
  background-color: #fff;
  background: rgba(255,255,255,0.4);
  z-index: 10;
  float: right;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
          box-shadow: 0 1px 2px rgba(0,0,0,.25);
}
.border-form-div-2{
  font-family: 'AppleSDGothicNeo-Light';
  max-width: 300px;
  width: 100%;
  padding: 19px 29px 29px;
  margin: 120px 185px 120px 0px;
  background-color: #fff;
  background: rgba(255,255,255,0.3);
  z-index: 10;
  float: right;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
          box-shadow: 0 1px 2px rgba(0,0,0,.25);
}

.back{
  background-image: url("http://howdoyousay.fr/stock-photos/02.jpg");
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -10;
}

.intro{
  font-size: 25px;
  font-weight: 400;
  color: white;
  font-family: 'kHandwritingM';
  font-size: 35px;
}

.Iam {
  padding: 2em 5em;
  font: normal 40px/50px Montserrat, sans-serif;
  color: #999;
}
.Iam p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
}
.Iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 40px;
}
.Iam .innerIam {
  display: inline-block;
  /*color: #e74c3c;*/
  color: #f0fa4c;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  font-family: 'kHandwritingM';
  font-weight: lighter;
  font-size: 45px;


/*animation*/
-webkit-animation:move 6s;
   -moz-animation:move 6s;
    -ms-animation:move 6s;
     -o-animation:move 6s;
        animation:move 6s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay:1.5s;
   -moz-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
     -o-animation-delay:1.5s;
        animation-delay:1.5s;
}
@keyframes move{
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
60% { top: -150px; }
80% { top: -200px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
