.example3 li {
    float: left;
}
.example3 a {
    display: block;
    padding: 8px;
}
.navbarblue {
  /*width: auto;*/
  background-color: #005296;
  max-height: 10%;
  display: flex;
  flex-wrap: wrap;
}
.example3 .navbar-brand .barlogo {
  height: 30px;
  width: 120px;
  display: inline-block;
}
.example3 .nav >li >a {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
}
.menu_text {
  margin: 2% 5% 2% 5%;
  /*padding-left: 4%;*/
  font-size: 18px;
  color: white;
  display: inline-block;
  text-align: center;
  padding-bottom: 4%;
}
#navbar {
  display: flex;
}
