.ppost-form {
  border: solid 3px #1d75d9;
  width: 80%;
  position: relative;
  left: 10%;
  padding: 1% 1%;
}

.article{
  width: 600px;
}
.blankspace{
  position:relative;
  left:10%;
}
.ppost-content-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ppost-content{
  border-collapse: collapse;
  text-align: left;
    line-height: 1.5;
    border: 1px solid #ccc;
    margin : 20px 10px;
    padding: 5px 15px;
    float: none;
    position: static;
    width:45%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset;
}

.sgreen {
  border-left: 5px solid #0a9117;
}
.syellow{
  border-left: 5px solid #f6c83a;
}
.sred {
  border-left: 5px solid #c8331f;
}
