.bady{
  background-image: url("picnic.jpeg");
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -10;
}

.border-form-div{
  max-width: 300px;
  width: 100%;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  /*opacity: 0.9;*/
  background: rgba(255,255,255,0.4);
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
          box-shadow: 0 1px 2px rgba(0,0,0,.25);
  z-index: 10;
  vertical-align: middle;
}

.border-form-div2{
  width: 100%;
  max-width: 500px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  /*opacity: 0.9;*/
  background: rgba(255,255,255,0.4);
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
          box-shadow: 0 1px 2px rgba(0,0,0,.25);
  z-index: 10;
  vertical-align: middle;
}

.border-form-div3{
  width: 100%;
  max-width: 400px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  /*opacity: 0.9;*/
  background: rgba(255,255,255,0.4);
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
          box-shadow: 0 1px 2px rgba(0,0,0,.25);
  z-index: 10;
  vertical-align: middle;
}
