<nav class="navbar navbar-inverse" style="border-radius:0px;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">LionKing</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar">
            <form action="/search" class="navbar-form navbar-left" role="search">
              <div class="form-group input-group">
                <input type="text" class="form-control" placeholder="Search" name="term" id="srch-term">
                <div class="input-group-btn">
                  <button class="btn btn-default" style="padding-bottom: 5px; margin-left: 10px;padding-top: 7px;" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
              </div>
            </form>
          <ul class="nav navbar-nav navbar-right">
            <li class="navbar-left aa" id="newsfeed-link"><a href="#"><span class="glyphicon glyphicon-globe"></span>Feed</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-envelope aa"></span>Message</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle aa" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span>User<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li id="profile-link"><a href="#">Edit Profile</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Log Out</a></li>
              </ul>
            </li>
          </ul
      </div>
    </div>
</nav>
